<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-4">
        {{titlePage}}
      </div>
      <div class="col-8">
        <app-input-search (keyword)="search($event)"></app-input-search>
      </div>
    </div>

  </div>
  <div class="card-body">
    <div class="d-flex ">
      <button class="mr-auto btn btn-primary" routerLink="add">Create</button>
      <label class="align-self-end" for="item-per-page">Items per page</label>
      <div class="ml-3">
        <select [(ngModel)]="itemPerPage" class="form-control" id="item-per-page">
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </div>
    </div>
    <table class="table table-striped">

      <thead>
      <tr>
        <th scope="col">Idx</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Group</th>
        <th scope="col">Handle</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let anUser of users |paginate:{
        id:'user-list',
        itemsPerPage: itemPerPage,
        currentPage:page
      };let idx = index ">
        <th scope="row">{{idx + 1}}</th>
        <td>{{anUser.name}}</td>
        <td>{{anUser.email}}</td>
        <ng-container *ngFor="let group of groupList ">
          <td *ngIf="anUser.group_id== group.id">{{group.name}}</td>
        </ng-container>
        <td>
          <button class="btn btn-danger mr-2" (click)="delete(anUser.id)">Delete</button>
          <button class="btn btn-success" [routerLink]="'edit/'+anUser.id">Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row ">
      <div class="mx-auto">
        <pagination-controls  id="user-list" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>


